/* Para resretar o espaçamentos das tags */
body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%; /* Pmax-width para evitar que a imagem ultrapasse 100 do tamanho do container, tornando resppnsiva */
}

ul {
  list-style: none; /* Renove as bolinhas da lista */
}

body {
  background-color: "#faf6ed";
  color: #222;
  -webkit-font-smoothing: antialiased; /* fonte específica */
  display: grid; /* Insere linhas pontilhadas (grades) visivel apemas no console  */
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; /* Faz um contêiner de grade de 4 colunas e redimensiona */
}

.menu {
  grid-column: 3 / 5; /* Pega a linha do início da 3a coluna até até o final da 4a coluna e início da 5a coluna */
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: flex; /* Coloca os itens um ao lado do outro */
  flex-wrap: wrap; /* Quebra a linha assim que um dos itens não puder mais ser compactado */
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none; /* Remove o sublinhado */
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase; /* Coloca tudo em letra maiusucula */
  font-size: 1rem;
  letter-spacing: .1em; /* Coloca espaçamento entre as letras */
}

.grid-section {
  grid-column: 2 / 4; /* Pega a linha do início da 2a coluna até até o final da 3a coluna e início da 4a coluna */
  width: 100%;
  box-sizing: border-box; /* Preenche a borda na largura e altura total */
  padding: 10px;
  display: grid; /* Insere linhas pontilhadas (grades) visivel apemas no console  */
  grid-template-columns: 90px 300px 1fr; /* Faz um contêiner de grade de 3 colunas e redimensiona */
  grid-gap: 20px; /* Distância entre cada coluna de grid */
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display', georgia; /* Caso não tenha a fornte Playfair use a georgia */
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4; /* Pega a linha do início da 1a coluna até até o final da 3a coluna e início da 4a coluna */
}

.animais h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll; /* No que estourar o container no eixo Y, será colocado no scroll  */
  grid-column: 2; /* Pega somente a linha do início da 2a */
}

.animais-lista::-webkit-scrollbar { /* Aqui iremos estilizar a barra de scroll */
  width: 18px
}

.animais-lista::-webkit-scrollbar-thumb { /* Aqui iremos estilizar o scroll que sobe e desce */
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track { /* Aqui iremos estilizar aa barrinha que fica atrás do scroll */
  background: #faf6ed;
}

.animais-descricao { /* Aqui iremos estilizar a linha do início da 3a coluna referente aos texto dos animais*/
  grid-column: 3;
}

.animais-descricao section { /* Aqui iremos estilizar a distância entre um texto e outro do animal */
  margin-bottom: 3rem;
}
