/* Para resretar o espaçamentos das tags */
body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%; /* Pmax-width para evitar que a imagem ultrapasse 100 do tamanho do container, tornando resppnsiva */
}

ul {
  list-style: none; /* Renove as bolinhas da lista */
}

body {
  background-color: "#faf6ed";
  color: #222;
  -webkit-font-smoothing: antialiased; /* fonte específica */
  display: grid; /* Insere linhas pontilhadas (grades) visivel apemas no console  */
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; /* Faz um contêiner de grade de 4 colunas e redimensiona */
}